<app-nav-bar></app-nav-bar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100 h-200">
    <form class="form">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-med text-center font-weight-bold">{{TituloEmpresas}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="text-justify mt-3">{{Texto}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{pregunta1}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Menos de un mes
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    1 a 6 meses
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    De 6 meses a 1 año
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    1-3 años
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No estoy seguro
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Nunca lo he usado
                  </label>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <p>{{pregunta2}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Diariamente
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    2-3 veces al mes
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Una vez al mes
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Cada 2-3 meses
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    2-3 veces al año o menos
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No estoy seguro
                  </label>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <p>{{pregunta3}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Muy satisfecho
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Satisfecho
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Neutral
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Insatisfecho
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Muy insatisfecho
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No estoy seguro
                  </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{pregunta4}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Definitivamente
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Probablemente
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No estoy seguro
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Probablemente no
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Definitivamente no
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Nunca lo he usado
                  </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{pregunta5}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Ya lo tenía, pero quiero reemplazarlo.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Sirve para satisfacer una necesidad.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Por razones de calidad.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Por razones de durabilidad.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Por el precio.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Otros.
                  </label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <p>{{pregunta6}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Es muy costoso.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No lo necesito.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    La calidad no está a la altura de las circunstancias.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No es durable.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Ya lo tengo.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Otros.
                  </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{pregunta7}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Extremadamente probable.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Muy probable.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Algo probable.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No es tan probable.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No es probable en absoluto.
                  </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{pregunta8}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Por correo.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Internet.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Por teléfono.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    En la tienda.
                  </label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Otros.
                  </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{pregunta9}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Sí
                  </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No
                  </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Ni muy fácil, ni muy difícil.
                  </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{pregunta10}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    Sí.
                  </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No.
                  </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="" id="" value="checkedValue">
                    No puedo decir.
                  </label>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <button type="button" name="" id="" class="btn btn-dark btn-lg btn-block">{{btnFinalizar}}</button>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>