<form [formGroup]="formulario">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="" class="font-weight-bold">{{CorreoElectronico}}</label>
        <mat-form-field class="w-100">
          <input matInput type="text" [ngClass]="{
              'is-valid': Validarform('Email').error == false,
              'is-invalid': Validarform('Email').error == true
          }" formControlName="Email">
        </mat-form-field>
      </div>
      <div *ngIf="Validarform('Email').error" class="invalid-feedback d-block mb-3 text-center"
        style="font-size:13px; color: red;">
        {{Validarform('Email').message}}
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="form-group" [formGroup]="formulario">
        <label for="" class="font-weight-bold">{{Contrasena}}</label>
        <mat-form-field class="w-100">
          <input matInput type="password" [ngClass]="{
              'is-valid': Validarform('Password').error == false,
              'is-invalid': Validarform('Password').error == true
          }" formControlName="Password">
        </mat-form-field>
      </div>
      <div *ngIf="Validarform('Password').error" class="invalid-feedback d-block mb-3 text-center"
        style="font-size:13px; color: red;">
        {{Validarform('Password').message}}
      </div>
    </div>
    </div>
  <div class="row">
    <div class="offset-md-4 col-12">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button type="submit" class="btn btn-info btn-lg btn-block" [disabled]="formulario.invalid"
        id="close-modal" data-dismiss="modal">{{ButtonInicioSesion}}
      </button>
    </div>
  </div>
</form>
<div class="row text-justify mt-5">
  <div class="col-6">
    <p class="font-weight-bold">{{parrafo1}}</p>
  </div>
  <div class="col-6">
    <p class="font-weight-bold">{{parrafo2}}</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-6">
    <a type="button" id="close-modal" data-dismiss="modal" class="font-weight-bold"
      (click)="changepassword()">{{linkolvidarpassword}}</a>
  </div>
  <div class="col-6">
    <a type="button" id="close-modal" data-dismiss="modal" class="font-weight-bold"
      (click)="AdminRegister()">{{linkregistrate}}</a>
  </div>
</div>
<div class="row text-center mt-5">
  <div class="col-12">
    <p class="font-weight-bold">{{parrafo4}}</p>
  </div>
</div>
<div class="row text-center mt-3">
  <div class="col-12">
    <a type="submit" id="close-modal" data-dismiss="modal" class="font-weight-bold"
      (click)="UserRegister()">{{LinkRegistrarUsuario}}</a>
  </div>
</div>
<div class="row mt-5 text-center">
  <div class="col-12">
    <p>{{parrafo3}}</p>
  </div>
</div>
