<app-nav-bar></app-nav-bar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100 h-100">
    <form class="form" [formGroup]="formulario">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-med text-center font-weight-bold">{{RegistrarUsuario}}</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <h2 class="text-center">{{Informacion}}</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-group" [formGroup]="formulario">
                    <label for="" class="font-weight-bold">{{Username}}</label>
                    <mat-form-field class="w-100">
                        <input matInput type="text" [ngClass]="{
                            'is-valid': Validarform('nombreusuario').error == false,
                            'is-invalid': Validarform('nombreusuario').error == true
                        }" formControlName="nombreusuario">
                      </mat-form-field>
                    </div>
                    <div *ngIf="Validarform('nombreusuario').error" class="invalid-feedback d-block mb-3 text-center"
                      style="font-size:13px; color: red;">
                      {{Validarform('nombreusuario').message}}
                    </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-group" [formGroup]="formulario">
                    <label for="" class="font-weight-bold">{{Password}}</label>
                    <mat-form-field class="w-100">
                        <input matInput type="text" [ngClass]="{
                            'is-valid': Validarform('password').error == false,
                            'is-invalid': Validarform('password').error == true
                        }" formControlName="password">
                      </mat-form-field>
                    </div>
                    <div *ngIf="Validarform('password').error" class="invalid-feedback d-block mb-3 text-center"
                      style="font-size:13px; color: red;">
                      {{Validarform('password').message}}
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button [disabled]="formulario.invalid" type="button"
                    class="btn btn-primary btn-lg btn-block">{{ButtonRegUsuario}}</button>
            </div>
        </div>
    </form>
    <div class="row mt-3">
        <div class="col-12">
         <p id="texto">{{parrafo1}}</p>
        </div>
      </div>
</div>
<app-footer></app-footer>
