<app-nav-bar></app-nav-bar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100">
    <form action="" (ngSubmit)="ObtenerEncuesta()">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-med text-center font-weight-bold">{{Titulo}}</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">{{Mensaje}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-dark btn-lg btn-block mt-2">
                    {{btnBuscarEncuesta}}
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Codigo Encuesta</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha Vigente</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Estado Encuesta</th>
                        <th scope="col">Id Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let survey of encuesta">
                        <th scope="row">{{survey.Id_Encuesta}}</th>
                        <td>{{survey.Nombre_Encuesta}}</td>
                        <td>{{survey.Fecha_Vigente}}</td>
                        <td>{{survey.Fecha_Registro}}</td>
                        <td>{{survey.Estado_Encuesta}}</td>
                        <td>{{survey.FK_Id_Usuario}}</td>
                        <td>
                            <button type="button" name="" id=""
                                class="btn btn-warning btn-sm btn-block" 
                                (click)="updatesurvey()">Modificar</button>
                        </td>
                        <td>
                            <button type="submit" name="" id=""
                                class="btn btn-danger btn-sm btn-block" 
                                (click)="EliminarEncuesta(survey.Id_Encuesta)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>

