<app-nav-bar></app-nav-bar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100">
    <form action="" [formGroup]="formulario">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-med text-center font-weight-bold">{{Titulo}}</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">{{Mensaje}}</h3>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="form-group">
                    <label for="" class="font-weight-bold">{{Etiqueta}}</label>
                    <mat-form-field class="w-100">
                        <input matInput type="text"
                        [ngClass]="{
                            'is-valid': Validarform('numeroencuesta').error == false,
                            'is-invalid': Validarform('numeroencuesta').error == true
                        }"
                        formControlName="numeroencuesta">
                    </mat-form-field>
                </div>
                <div *ngIf="Validarform('numeroencuesta').error"
                class="invalid-feedback d-block mb-3 text-center"
                style="font-size:13px; color: red;">
                {{Validarform('numeroencuesta').message}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" [disabled]="formulario.invalid" name="" id=""
                    class="btn btn-dark btn-lg btn-block mt-2">
                    {{btnBuscarEncuesta}}
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Codigo Encuesta</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha_Vigente</th>
                        <th scope="col">Fecha_Registro</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" name="" id=""
                                class="btn btn-warning btn-sm btn-block" (click)="updatesurvey()">Modificar</button>
                        </td>
                        <td>
                            <button type="button" name="" id=""
                                class="btn btn-danger btn-sm btn-block" (click)="deletesurvey()">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p id="texto">{{parrafo1}}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
