<nav class="navbar navbar-expand-lg navbar-light bg-light  shadow-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/paginainicial">
      <img [src]="logo" width="30" height="30" class="d-inline-block align-top" alt="">
      {{titulo}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="color" class="nav-link" routerLink="/inicio" routerLinkActive="active">{{Inicio}}</a>
        </li>
        <li class="nav-item dropdown">
          <a id="color" class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" 
          aria-expanded="false" >{{Empresa}}
          </a>
          <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/registrarempresa">{{RegistrarEmpresa}}</a>
            <a class="dropdown-item" routerLink="/busquedaempresa">{{BuscarEmpresa}}</a>
          </div>         
        </li>
        <li class="nav-item dropdown">
          <a id="color" class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" 
          aria-expanded="false" >{{Encuestas}}
          </a>
          <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/registrarencuesta">{{RegistrarEncuesta}}</a>
            <a class="dropdown-item" routerLink="/busquedaencuesta">{{BuscarEncuesta}}</a>
          </div>         
        </li>
          <li class="nav-item dropdown">
              <a id="color" class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" 
              aria-expanded="false">{{Colaboradores}}
              </a>
              <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/registrarusuario">{{RegistrarUsuario}}</a>
                <a class="dropdown-item" routerLink="/busquedausuario">{{BuscarUsuario}}</a>
              </div>
            </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <mat-icon class="aligned-with-icon">account_circle</mat-icon>
              </a>
              <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/micuenta">{{MiCuenta}}</a>
                <a class="dropdown-item" (click)="closeSession()">{{Cerrarsesion}}</a>
              </div>
          </li>
      </ul>
    </div>
  </div>
</nav>