<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100 h-100">
<form class="form" [formGroup]="formulario">
<div class="row">
  <div class="col-12">
    <h1 class="display-4 text-med text-center font-weight-bold">{{Registroadmon}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h4 class="text-justify">
      {{condiciones}}
    </h4>
  </div>        
</div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="" class="font-weight-bold">{{FullName}}</label>
        <input type="text" appUppercaseletter
        class="form-control" id="" aria-describedby="helpId" [ngClass]="{
            'is-valid': Validarform('nombrecompleto').error == false,
            'is-invalid': Validarform('nombrecompleto').error == true
          }" formControlName="nombrecompleto" placeholder="Ingresa tu nombre completo">
      </div>
      <div *ngIf="Validarform('nombrecompleto').error" class="invalid-feedback d-block mb-3 text-center"
        style="font-size: 15px; color: 15px;">
        {{Validarform('nombrecompleto').message}}
      </div>
    </div>
    <div class="col-6">
      <div class="form-group" [formGroup]="formulario">
        <label for="" class="font-weight-bold">{{LastName}}</label>
        <input appUppercaseletter type="text" class="form-control" id="" aria-describedby="helpId" [ngClass]="{
            'is-valid': Validarform('apellidopaterno').error == false,
            'is-invalid': Validarform('apellidopaterno').error == true
          }" formControlName="apellidopaterno" placeholder="Ingresa tu Apellido Paterno">
      </div>
      <div *ngIf="Validarform('apellidopaterno').error" class="invalid-feedback d-block mb-3 text-center"
        style="font-size: 15px; color: 15px;">
        {{Validarform('apellidopaterno').message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group" [formGroup]="formulario">
        <label for="" class="font-weight-bold">{{MotherLastName}}</label>
        <input appUppercaseletter type="text" class="form-control" id="" aria-describedby="helpId" [ngClass]="{
            'is-valid': Validarform('apellidomaterno').error == false,
            'is-invalid': Validarform('apellidomaterno').error == true
          }" formControlName="apellidomaterno" placeholder="Ingresa tu Apellido Materno">
      </div>
      <div *ngIf="Validarform('apellidomaterno').error" class="invalid-feedback d-block mb-3 text-center"
        style="font-size: 15px; color: 15px;">
        {{Validarform('apellidomaterno').message}}
      </div>
    </div>
    <div class="col-6">
      <div class="form-group" [formGroup]="formulario">
        <label for="" class="font-weight-bold">{{BirthDate}}</label>
        <input type="date" class="form-control" id="" aria-describedby="helpId" [ngClass]="{
            'is-valid': Validarform('fechanacimiento').error == false,
            'is-invalid': Validarform('fechanacimiento').error == true
          }" formControlName="fechanacimiento" placeholder="Ingresa tu Fecha Nacimiento">
      </div>
      <div *ngIf="Validarform('fechanacimiento').error" class="invalid-feedback d-block mb-3 text-center"
        style="font-size: 15px; color: 15px;">
        {{Validarform('fechanacimiento').message}}
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-6">
    <div class="form-group" [formGroup]="formulario">
      <label for="" class="font-weight-bold">{{Phone}}</label>
      <input type="tel" class="form-control" id="" aria-describedby="helpId" [ngClass]="{
          'is-valid': Validarform('telefono').error == false,
          'is-invalid': Validarform('telefono').error == true
        }" formControlName="telefono" placeholder="Ingresa tu Teléfono celular">
    </div>
    <div *ngIf="Validarform('telefono').error" class="invalid-feedback d-block mb-3 text-center"
      style="font-size: 15px; color: 15px;">
      {{Validarform('telefono').message}}
    </div>
  </div>
  <div class="col-6">
    <div class="form-group" [formGroup]="formulario">
      <label for="" class="font-weight-bold">{{Email}}</label>
      <input type="email"
        class="form-control" id="" aria-describedby="helpId"
        [ngClass] = "{
          'is-valid': Validarform('correoelectronico').error == false,
          'is-invalid': Validarform('correoelectronico').error == true
        }"
        formControlName="correoelectronico" 
        placeholder="Ingresa tu Correo Electrónico">
    </div>
    <div *ngIf="Validarform('correoelectronico').error"
    class="invalid-feedback d-block mb-3 text-center"
    style="font-size: 15px; color: #000;">
      {{Validarform('correoelectronico').message}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-group" [formGroup]="formulario">
      <label for="" class="font-weight-bold">{{Contrasenia}}</label>
      <input type="password"
        class="form-control" id="" aria-describedby="helpId"
        [ngClass]="{
          'is-valid': Validarform('password').error == false,
          'is-invalid': Validarform('password').error == true
        }"
        formControlName="password"
        placeholder="Ingresa tu Contraseña">
    </div>
    <div *ngIf="Validarform('password').error"
    class="invalid-feeback d-block mb-3 text-center"
    style="font-size: 15px; color: #000;">
      {{Validarform('password').message}}
    </div>
  </div>
  <div class="col-6">
    <div class="form-group" [formGroup]="formulario">
      <label for="" class="font-weight-bold">{{RepetirContrasenia}}</label>
      <input type="password"
        class="form-control" id="" aria-describedby="helpId"
        [ngClass]="{
          'is-valid': Validarform('repetirpassword').error == false,
          'is-invalid': Validarform('repetirpassword').error == true
        }"
        formControlName="repetirpassword"
        placeholder="Ingresa tu Contraseña de nuevo">
    </div>
    <div *ngIf="Validarform('repetirpassword').error"
    class="invalid-feeback d-block mb-3 text-center"
    style="font-size: 15px; color: #000;">
      {{Validarform('repetirpassword').message}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group" [formGroup]="formulario">
      <label for="" class="font-weight-bold">{{PositionCompany}}</label>
      <select class="form-control" id=""
      [ngClass]="{
        'is-valid': Validarform('puestopertenece').error == false,
        'is-invalid': Validarform('puestopertenece').error == true
      }" 
      formControlName="puestopertenece"
      >
        <option>Selecciona tu puesto:</option>
        <option>Responsable de línea de producción</option>
        <option>Operarios de Producción</option>
        <option>Técnico de mantenimiento</option>
        <option>Responsable de Calidad</option>
        <option>Operarios de Calidad</option>
        <option>Responsable de Manipulador y Envasor de alimentos</option>
        <option>Operarios de Manipulador y Envasor de alimentos</option>
        <option>Responsable de Almacen</option>
        <option>Mozos Almácen</option>
      </select>
    </div>
    <div *ngIf="Validarform('puestopertenece').error"
    class="invalid-feedback d-block mb-3 text-center"
    style="font-size: 15px; color: #000;">
    {{Validarform('puestopertenece').message}}
  </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button [disabled]="formulario.invalid" type="button" name="" id=""
    class="btn btn-primary btn-lg btn-block">{{ButtonRegUsuario}}</button>
  </div>
</div>
</form>
</div>
<app-footer></app-footer>