<footer class="bg-light text-center text-lg-start">
    <div class="text-center">
      <mat-icon>copyright</mat-icon>
      <a class="text-dark">{{createdby}}</a>
      <p>{{fecha}}</p>
    </div>
    <div class="sociales">
      <a href="https://agroalim.org/"><i class="fa fa-internet-explorer" aria-hidden="true"></i></a>
      <a href="https://mx.linkedin.com/company/clusteragroalim"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UC_0G4KUsMPKfF3LpZCpL1rQ"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/agroalim/?hl=es"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://es-la.facebook.com/Clusteragroalimentario/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
</footer>  
