<h1>{{InicioSesion}}</h1>
<div class="form">
  <form [formGroup]="formulario">
      <div class="form-group">
        <mat-icon>email</mat-icon>
        <label for="">{{CorreoElectronico}}</label>
        <input type="email" class="form-control"
        [ngClass]="{
          'is-valid': Validarform('Email').error == false,
          'is-invalid': Validarform('Email').error == true
        }"
        formControlName="Email"
        id="email" aria-describedby="helpId" placeholder="Ingresa tu correo electrónico">
      </div>
      <div *ngIf="Validarform('Email').error"
      class="invalid-feedback d-block mb-3 text-center"
      style="font-size: 15px; color: #000;"
      >
        {{Validarform('Email').message}}
      </div>
      <div class="form-group" [formGroup]="formulario">
        <mat-icon>password</mat-icon>
        <label for="">{{Password}}</label>
        <input type="password" class="form-control"
        [ngClass]="{
          'is-valid': Validarform('Password').error == false,
          'is-invalid': Validarform('Password').error == true
        }"
        formControlName="Password"
        id="contrasenia" aria-describedby="helpId" placeholder="Ingresa tu contraseña"
        >
      </div>
      <div *ngIf="Validarform('Password').error"
      class="invalid-feedback d-block mb-3 text-center"
      style="font-size:15px; color: black;">
      {{Validarform('Password').message}}
     </div>
      <button [disabled]="formulario.invalid" name="" id="" class="btn btn-primary btn-lg btn-block">
        {{ButtonInicioSesion}}
      </button>
  </form>
</div>