<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100 h-100">
    <form class="form">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-med text-center font-weight-bold">{{TituloEmpresas}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mt-3">
                    {{Texto}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">

            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                
            </div>
        </div>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">{{btnFinalizar}}</button>
    </form>
</div>
<footer></footer>