<h1>{{RegEmpresa}}</h1>
<form action="" class="formulario">
  <div class="contenedor1">
    <div class="form-group" [formGroup]="formulario">
      <mat-icon>insert_drive_file</mat-icon>
        <label for="">{{RFC}}</label>
        <input type="text"
        class="form-control" id="" aria-describedby="helpId"
        [ngClass]="{
         'is-valid': Validarform('RFC').error == false,
         'is-invalid': Validarform('RFC').error == true
        }"
        formControlName="RFC";
        placeholder="Ingresa el RFC de la Empresa">
      </div>
      <div *ngIf="Validarform('RFC').error"
      class="invalid-feedback d-block mb-3 text-center"
      style="font-size: 15px;">
        {{Validarform('RFC').message}}
      </div>
        <div class="form-group" [formGroup]="formulario">
          <mat-icon>account_balance</mat-icon>
          <label for="">{{NombreEmpresa}}</label>
          <input type="text"
            class="form-control" id="" aria-describedby="helpId"
            [ngClass]="{
              'is-valid': Validarform('nombreempresa').error == false,
              'is-invalid': Validarform('nombreempresa').error == true
            }"
            formControlName="nombreempresa";
            placeholder="Ingresa el nombre de la Empresa">
        </div>
        <div *ngIf="Validarform('nombreempresa').error"
        class="invalid-feedback d-block mb-3 text-center"
        style="font-size: 15px;">
          {{Validarform('nombreempresa').message}}
        </div>
        <div class="form-group" [formGroup]="formulario">
          <mat-icon>equalizer</mat-icon>
          <label for="">{{Cluster}}</label>
          <input type="text"
            class="form-control" id="" aria-describedby="helpId"
            [ngClass]="{
              'is-valid': Validarform('cluster').error == false,
              'is-invalid': Validarform('cluster').error == true
            }"
            formControlName="cluster"
            placeholder="Ingresa el clúster de la Empresa">
        </div>
        <div *ngIf="Validarform('cluster').error"
        class="invalid-feedback d-block mb-3 text-center"
        style="font-size: 15px;">
          {{Validarform('cluster').message}}
        </div>
        <div class="form-group" [formGroup]="formulario">
          <mat-icon>autorenew</mat-icon>
          <label for="">{{GiroEmpresa}}</label>
          <input type="text"
            class="form-control" id="" aria-describedby="helpId"
            [ngClass]="{
              'is-valid': Validarform('giroempresa').error == false,
              'is-invalid': Validarform('giroempresa').error == true
            }"
            formGroupName="giroempresa"
            placeholder="Ingresa el giro de la Empresa">
        </div>
        <div *ngIf="Validarform('giroempresa').error"
        class="invalid-feedback d-block mb-3 text-center"
        style="font: size 15px;">
        {{Validarform('giroempresa').message}}
        </div>
      </div>
    <div class="contenedor2" [formGroup]="formulario">
        <div class="form-group">
          <mat-icon>flag</mat-icon>
          <label for="">{{Pais}}</label>
          <select class="form-control" id=""
          [ngClass]="{
            'is-valid': Validarform('pais').error == false,
            'is-invalid': Validarform('pais').error == true
          }"
          formControlName="pais"
          >
            <option>Selecciona el País</option>
            <option></option>
            <option></option>
          </select>
          <div *ngif="Validarform('pais').error"
          class="invalid-feedback d-block mb-3 text-center"
          style="font-size: 15;">
            {{Validarform('pais').message}}
          </div>
        </div>
        <div class="form-group">
        <mat-icon>place</mat-icon>
          <label for="">{{Estado}}</label>
          <select class="form-control" id=""
          formGroupName="estado"
          [ngClass]="{
            'is-valid': Validarform('estado').error == false,
            'is-invalid': Validarform('estado').error == true
          }"
          formControlName="estado">
            <option>Selecciona el Estado</option>
            <option></option>
            <option></option>
          </select>
          <div *ngIf="Validarform('estado').error"
          class="invalid-feedback d-block mb-3 text-center"
          style="font-size:15px">
           {{ Validarform('estado').message}}</div>
        </div>
        <div class="form-group" [formGroup]="formulario">
          <mat-icon>place</mat-icon>
          <label for="">{{Municipio}}</label>
          <select class="form-control" id=""
          [ngClass]="{
           'is-valid': Validarform('municipio').error == false,
           'is-invalid': Validarform('municipio').error == true
          }"
          formControlName="municipio"
          >
            <option>Selecciona el Municipio</option>
            <option></option>
            <option></option>
          </select>
          <div *ngIf="Validarform('municipio').error"
          class="invalid-feedback d-block mb-3 text-center"
          style="font-size: 15px;">
            {{Validarform('municipio').message}}
          </div>
        </div>
    </div>
    <button type="button" name="" id="" class="btn btn-dark btn-lg btn-block">
        {{ButtonRegEmpresa}}
    </button>
</form>