h1{
    margin-top: 7%;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
}

i{
    font-size: 130px;
    color:rgb(4, 100, 117);
    margin-left: 45%;
  }

.form{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contenedor1{
    width: 45%;
    height: 50%;
    margin: 1% 2%;
}

.contenedor2{
    width: 45%;
    height: 50%;
    margin: 1% 2%;
}

mat-icon{
    font-size:30px;
    color: rgb(14, 14, 14);
    position: relative;
    top: 7px;
}

label{
    color: rgb(15, 15, 15);
    font-size: 17px;
    margin-left: 2%;
}

input{
    border: 2px solid #3E5151;
    background: #a6c5c5;
    border-radius: 10px;
}

input::placeholder{
    color: #000;
}

select{
    border: 2px solid #3E5151;
    background: #a6c5c5;
    border-radius: 10px;
    color: #000;
}

.form-check{
    position: relative;
	top: 70px;
	padding:5px 0 5px 10px;     
	display: block;
    font-weight: 700;
}

button{
    margin: 1% 2%;
    border-radius: 10px;
}