<h1>{{RegUsuarios}}</h1>
<form action="" class="formulario">
  <div class="contenedor1">
    <div class="form-group">
      <mat-icon>face</mat-icon>
      <label for="">{{NombreCompleto}}</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa tu nombre completo">
    </div>
    <div class="form-group">
      <mat-icon>face</mat-icon>
      <label for="">{{ApellidoPaterno}}</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa tu Apellido Paterno">
    </div>
    <div class="form-group">
      <mat-icon>face</mat-icon>
      <label for="">{{ApellidoMaterno}}</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa tu Apellido Materno">
    </div>
    <div class="form-group">
      <mat-icon>cake</mat-icon>
      <label for="">{{FechaNacimiento}}</label>
      <input type="date"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa tu Fecha de Nacimiento">
    </div>
    <div class="form-group">
      <mat-icon>stay_primary_portrait</mat-icon>
      <label for="">{{Telefono}}</label>
      <input type="number"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa tu Teléfono">
    </div>
  </div>
  <div class="contenedor2">
    <div class="form-group">
      <mat-icon>email</mat-icon>
      <label for="">{{CorreoElectronico}}</label>
      <input type="email"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa tu Correo Electrónico">
    </div>
    <div class="form-group">
      <mat-icon>password</mat-icon>
      <label for="">{{Contrasenia}}</label>
      <input type="password"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa tu Contraseña">
    </div>
    <div class="form-group">
      <mat-icon>password</mat-icon>
      <label for="">{{RepetirContrasenia}}</label>
      <input type="password"
        class="form-control" name="" id="" aria-describedby="helpId"
        placeholder="Ingresa de nuevo tu contraseña">
    </div>
    <div class="form-group">
      <mat-icon>business_center</mat-icon>
      <label for="">{{PuestoPerteneceEmpresa}}</label>
      <select class="form-control" name="" id="">
        <option>Selecciona tu puesto:</option>
        <option></option>
        <option></option>
      </select>
    </div>
  </div>
  <button type="button" name="" id=""
  class="btn btn-dark btn-lg btn-block">{{ButtonRegUsuario}}</button>
</form>