<app-nav-bar></app-nav-bar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100">
    <form action="" (ngSubmit)="ObtenerEmpresa()">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-med text-center font-weight-bold">{{Titulo}}</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">{{Mensaje}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success btn-lg btn-block mt-2">
                    {{btnBuscarEmpresa}}
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Codigo de Empresa</th>
                        <th scope="col">RFC</th>
                        <th scope="col">Clusters</th>
                        <th scope="col">Giro Empresa</th>
                        <th scope="col">País</th>
                        <th scope="col">Estados</th>
                        <th scope="col">Municipios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empresa of empresas">
                        <th scope="row">{{empresa.Id_Empresa}}</th>
                        <td>{{empresa.RFC}}</td>
                        <td>{{empresa.Clusters}}</td>
                        <td>{{empresa.Giro_Empresa}}</td>
                        <td>{{empresa.FK_Id_Pais}}</td>
                        <td>{{empresa.FK_Id_Estado}}</td>
                        <td>{{empresa.FK_Id_Municipio}}</td>
                        <td>
                            <button type="button" name="" id="" class="btn btn-warning btn-sm btn-block"
                                (click)="updatecompany()">Modificar</button>
                        </td>
                        <td>
                            <button type="submit" name="" id="" class="btn btn-danger btn-sm btn-block"
                            (click)="EliminarEmpresa()" >Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>