<app-nav-bar></app-nav-bar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-light rounded w-100">
    <form action="" (ngSubmit)="ObtenerUsuario()">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-med text-center font-weight-bold">{{Titulo}}</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">{{Mensaje}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success btn-lg btn-block mt-2">
                    {{buscarusuario}}
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Codigo de Usuario</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Telefono Contacto</th>
                        <th scope="col">Correo Electronico</th>
                        <th scope="col">Pertenece Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuarios of usuario">
                        <th scope="row">{{usuarios.Id_Usuario}}</th>
                        <td>{{usuarios.Nombres}}</td>
                        <td>{{usuarios.Apellido_Paterno}}</td>
                        <td>{{usuarios.Apellido_Materno}}</td>
                        <td>{{usuarios.Fecha_Nacimiento}}</td>
                        <td>{{usuarios.Telefono_Contacto}}</td>
                        <td>{{usuarios.Correo_Electronico}}</td>
                        <td>{{usuarios.Id_Puesto}}</td>
                        <td>
                            <button type="button" name="" id=""
                                class="btn btn-warning btn-sm btn-block" (click)="userupdate()">Modificar</button>
                        </td>
                        <td>
                            <button type="submit" name="" id=""
                                class="btn btn-danger btn-sm btn-block" 
                                (click)="EliminarUsuario(usuarios.Id_Usuario)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>
