<app-nav-bar></app-nav-bar>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100 h-150">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center font-weight-bold mt-5">{{Mensaje}}</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
        <p class="lead text-center mt-5">{{Texto}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img [src]="imagen" alt="FELICIDADES">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="lead text-right font-weight-bold">{{Mensaje2}}</p>
      </div>
    </div>
</div>
<app-footer></app-footer>